# fly.toml app configuration file generated for gochat on 2026-01-07T01:42:54-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gochat'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  COOKIE_SAMESITE = 'Lax'
  COOKIE_SECURE = 'true'
  ENV = 'prod'
  REDIS_TLS = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 80

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
  count = 1
